<div class="offer-popup">
	<div class="offer-popup__header">
		{{!-- <button class="button button--purple">Добавить в друзья</button>
		<button class="button button--white">Добавить в друзья</button>
		<button class="button button--close">Закрыть</button> --}}
		{{!-- {{>avatar/index size="large" imageURL="http://i.imgur.com/2czseQm.gif"}} --}}
		{{>user-card/index}}
	</div>
	<div class="offer-popup__content">
		<div class="offer-popup__offer"></div>
		<div class="offer-popup__buttons"></div>
	</div>
</div>