<div class="offer-popup">
	<div class="offer-popup__row">
		<div class="offer-popup__column offer-popup__column--no-separator">
			{{>user-card/index
				user=this.user
				classes="offer-popup__user-card"
				size="large"
				caption="Нуждается в этом"
			}}
		</div>
		<div class="offer-popup__column offer-popup__column--small-padding offer-popup__column--no-separator">
			<button class="button button--purple offer-popup__add-friend-button">Добавить в друзья</button>
		</div>
	</div>
	<div class="offer-popup__row">
		<div class="offer-popup__column offer-popup__column--bottom-padding">
			<h2 class="offer-popup__header">{{title}}</h2>
			<div class="offer-popup__caption">{{category}}</div>
			<div class="offer-popup__image-wrapper">
				<img class="offer-popup__image" src="{{imageURL}}">
				{{#if implemented}}
					<div class="offer-popup__image-overlay">
						<div class="offer-popup__implemented-label">
							<div class="offer-popup__implemented-caption">Реализовано</div>
							<div class="offer-popup__implemented-icon icon icon--implemented"></div>
						</div>
					</div>
				{{/if}}
			</div>
			{{#if text}}
				<div class="offer-popup__text">{{text}}</div>
			{{/if}}
		</div>
		<div class="offer-popup__column offer-popup__column--small-padding">
			<div class="offer-popup__buttons-group">
				<button class="button button--white button--block offer-popup__add-button">Добавить к себе</button>
				<button class="button button--white button--block offer-popup__like-button">Мне нравится</button>
				<button class="button button--white button--block offer-popup__comment-button">Комментировать</button>
				{{#is-delete-button}}
					<button class="button button--white button--block offer-popup__delete-offer-button">Удалить</button>
				{{/is-delete-button}}
			</div>
		</div>
	</div>
	<div class="offer-popup__row">
		{{>comments-bar/index
			comments=this.reviews
			modifier="popup"
			maxLength=500
		}}
	</div>
	<div class="offer-popup__row">
		<div class="offer-popup__column">
			{{>users-group/index
				users=addedUsers
				title="добавили к себе"
				classes="offer-popup__added-users"
			}}
		</div>
	</div>
	<div class="offer-popup__row">
		<div class="offer-popup__column">
			{{>users-group/index
				users=likedUsers
				title="нравится"
				classes="offer-popup__liked-users"
			}}
		</div>
	</div>
	<button class="button button--cross offer-popup__close-button">Закрыть</button>
</div>