body {
	margin: 0;
	background: #000000;
	font-family: "Arial";
	font-size: 15px;
	color: #ffffff;
}

button {
	/*margin: 0;*/
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	border: none;
}

.popup-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 40;
}

.popup-background--hidden {
	display: none;
}

.popup {
	position: relative;
	display: inline-block;
	margin: 200px auto;
	background: #333333;
	border: solid 2px #ffffff;
	border-radius: 5px;
	text-align: center;
	padding: 10px 20px;
	z-index: 50;
}

.popup--hidden {
	display: none;
}

.popup__header {
	color: #ffffff;
	font-size: 16px;
}

.popup__textarea {
	display: block;
	margin: 10px 0 auto;
	width: 400px;
	height: 200px;
}

.popup__ok-button {
	color: #ffffff;
	background: #009900;
	padding: 5px;
	min-width: 100px;
	margin-top: 10px;
}

.popup__ok-button:hover {
	background: #99ff99;
	color: #009900;
}

.popup__cross-button {
	color: #ffffff;
	position: absolute;
	top: 10px;
	right: 10px;
}

.popup__cross-button:after {
	content: "\274c";
}

.slide-block-popup__content-wrapper {
	overflow-y: auto;
	max-height: 500px;
	width: 365px;
}

.slide-block-popup__slide-block {
	margin-bottom: 10px;
}

.slide-block-popup__slide-block:last-child {
	margin-bottom: 0;
}

.slide-block-popup__slide-block:after {
	display: table;
	content: "";
	clear: both;
}

.slide-block-popup__image-preview {
	display: block;
	width: 100px;
	border-radius: 2px;
}

.slide-block-popup__slide-block-column {
	float: left;
	margin-right: 10px;
}

.slide-block-popup__slide-block-column:last-child {
	margin-right: 0;
}

.slide-block-popup__field-label {
	text-align: left;
	margin-bottom: 3px;
}

.slide-block-popup__field-input {
	margin-right: 5px;
}

.slide-block-popup__field-button {
	color: #ffffff;
	border-bottom: dashed 1px #ffffff;
}

.carousel {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 368px;
	overflow: hidden;
}

.carousel__slide {
	position: absolute;
	width: 500px;
	background: rgba(255, 255, 255, 0.5);
}

.carousel__current-slide {
	left: 0;
}

.carousel__new-slide {
	left: -500px;
}

.carousel__image-wrapper {
	width: 500px;
	height: 368px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.carousel__image {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.carousel__arrow {
	position: absolute;
	top: 152px;
	width: 64px;
	height: 64px;
	opacity: 0.5;
	cursor: pointer;
	z-index: 30;
}

.carousel__arrow:hover {
	opacity: 1;
}

.carousel__left-arrow {
	left: 0;
	background-image: url('./images/left-arrow.png');
}

.carousel__right-arrow {
	right: 0;
	background-image: url('./images/right-arrow.png');
}

.carousel__caption {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.carousel__caption--hidden {
	display: none;
}