body {
	margin: 0;
	background: #000000;
	font-family: "Arial";
	font-size: 15px;
	color: #ffffff;
}

button {
	/*margin: 0;*/
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	border: none;
}

.field__label {
	text-align: left;
	margin-bottom: 3px;
}

.field__input {
	margin-right: 2px;
}

.field__button {
	color: #ffffff;
	border-bottom: dashed 1px #ffffff;
}

.popup-background {
	text-align: center;
}

.popup {
	position: relative;
	display: inline-block;
	margin: 200px auto;
	background: #333333;
	border: solid 2px #ffffff;
	border-radius: 5px;
	text-align: center;
	padding: 10px 20px;
}

.popup--hidden {
	display: none;
}

.popup__header {
	color: #ffffff;
	font-size: 16px;
}

.popup__textarea {
	display: block;
	margin: 10px 0 auto;
	width: 400px;
	height: 200px;
}

.popup__ok-button {
	color: #ffffff;
	background: #009900;
	padding: 5px;
	min-width: 100px;
	margin-top: 10px;
}

.popup__ok-button:hover {
	background: #99ff99;
	color: #009900;
}

.popup__cross-button {
	color: #ffffff;
	position: absolute;
	top: 10px;
	right: 10px;
}

.popup__cross-button:after {
	content: "\274c";
}

.slide-block-popup__content-wrapper {
	overflow-y: auto;
	max-height: 300px;
	width: 365px;
}

.slide-block-popup__slide-block {
	margin-bottom: 10px;
}

.slide-block-popup__slide-block:last-child {
	margin-bottom: 0;
}

.slide-block-popup__slide-block:after {
	display: table;
	content: "";
	clear: both;
}

.slide-block-popup__image-preview {
	display: block;
	width: 100px;
	/*border: solid 1px #ffffff;*/
	border-radius: 2px;
}

.slide-block-popup__slide-block-column {
	float: left;
	margin-right: 10px;
}

.slide-block-popup__slide-block-column:last-child {
	margin-right: 0;
}