<div class="users-group">
	<div class="users-group__title">{{users.length}} {{title}}</div>
	{{#each users}}
		{{>avatar/index
			size="medium"
			imageURL=this.imageURL
			classes="users-group__avatar"
		}}
	{{/each}}
</div>