$block: 'user-card';

.#{$block} {

  &__column {
    float: left;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__full-name {
    font-family: "PFAgoraSansPro";
    font-weight: lighter;
    color: #8473ac;
  }

  &__caption {
    color: #82848a;
    font-style: italic;
  }

  &--large {

    .#{$block} {

      &__column {
        margin-right: 7px;
      }

      &__full-name {
        font-size: 22px;
        margin-top: 15px;
      }

      &__caption {
        font-size: 14px;
      }
    }

  }

  &--small {

    .#{$block} {

      &__column {
        margin-right: 13px;
      }

      &__full-name {
        font-size: 12px;
        margin-top: 1px;
      }

      &__caption {
        font-size: 11px;
      }
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}