<div class="user-card {{classes}}">
	<div class="user-card__column">
		{{>	avatar/index 
				imageURL=user.imageURL
				size="large"
				classes='user-card__avatar'
		}}
	</div>
	<div class="user-card__column">
		<div class="user-card__full-name">{{user.firstName}} {{user.lastName}}</div>
		<div class="user-card__caption">kek</div>
	</div>
</div>