@import "utils/sprite-helper";

$block: "offer-card";
$hintHeight: 23px;

.#{$block} {
  width: 220px;
  position: relative;
  overflow: hidden;

  margin-bottom: 16px;

  border: solid 1px #ebebeb;
  border-radius: 9px;
  
  background: #ffffff;

  &__row {
    padding-left: 15px;

    &--title {
      margin-top: 15px;
    }

    &--attributes {
      margin-top: 17px;
    }

    &--counters {
      margin-top: 38px;
    }
  }

  &__image-wrapper {
    position: relative;
    min-height: 107px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255,255,255,1) 0%,
      rgba(255,255,255,0.9) 40%,
      rgba(255,255,255,0) 100%
    );
    display: none;
  }

  &__title {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
  }

  &__attribute {
    font-size: 11px;
    opacity: 0.6;
  }

  &__counters-group {
    max-width: 160px;
  }

  .counter {
    font-size: 11px;
    opacity: 0.6;
  }

  .counter {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }

    white-space: pre;
  }

  &__popup-button {
    cursor: pointer;

    position: absolute;
    top: 0;

    width: 100%;
    height: $hintHeight;
    line-height: $hintHeight;
    text-align: center;
    vertical-align: top;

    font-family: "PFAgoraSansPro";
    font-size: 11px;
    color: #ffffff;

    background-color: #abc9e8;
    display: none;

    &:hover {
      background-color: #e7afa8;
    }
  }

  &__buttons-wrapper {
    position: absolute;
    top: $hintHeight;
    display: none;
    padding-top: 7px;
  }

  &__icon-button {
    margin-right: 19px;

    &:first-child {
      margin-left: 13px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:disabled {
      .icon {
        @extend .icon--purple;
      }
      cursor: default;
    }
  }

  &__user-card {
    background-color: #f1f1f1;
    padding: 6px 13px 5px;
    margin-top: 8px;
  }

  &:hover {
    border-color: #abc9e8;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.48); 

    .#{$block} {
      &__popup-button {
        display: block;
      }

      &__buttons-wrapper {
        display: block;
      }

      &__image-overlay {
        display: block;
      }
    }
  }
}
