<div class="comments-bar__comments">
	{{#each this}}
		<div class="comments-bar__comment">
			{{>avatar/index
				size="medium"
				imageURL=user.imageURL
				classes="comments-bar__avatar"
			}}
			<div class="comments-bar__comment-text">
				{{text}}
			</div>
		</div>
	{{/each}}
</div>