<div class="comments-bar__comment">
	{{>avatar/index
		size=avatarSize
		imageURL=user.imageURL
		classes="comments-bar__avatar"
	}}
	<div class="comments-bar__comment-text">
		{{text}}
	</div>
	{{#is-delete-button}}
		<button class="button button--cross comments-bar__button-delete"></button>
	{{/is-delete-button}}
</div>