$block: "comments-bar";

.#{$block} {
	background-color: #f1f1f1;

	$paddingLeft: 40px;
	$textMarginLeft: 32px;

	&__comment {
		position: relative;

		border-bottom: 1px solid #d8d8d8;
		width: 100%;
		box-sizing: border-box;

		content: "";
		display: table;
		clear: both;
	}

	&__button-delete {
		position: absolute;
	}

	&__avatar {
		float: left;
	}

	&__comment-text {
		float: left;
	}

	&__textarea {
		resize: none;
		border: 1px solid #cdcdcd;
		font-size: 14px;
		font-family: "PFAgoraSansPro";

		&::placeholder {
			color: #cacaca;
		}
	}

	&--hidden {
		display: none;
	}

	&--popup {

		.#{$block} {
			
			&__comment {
				padding: 17px 0 6px $paddingLeft;
			}

			&__button-delete {
				top: 10px;
				right: 40px;
				font-size: 12px;
			}

			&__comment-text {
				font-size: 12px;
				color: #6d6d6d;
				width: 555px;
				margin: 4px 0 16px $textMarginLeft;
				overflow: hidden;
			}

			&__textarea-wrapper {
				padding: 20px 0 18px $paddingLeft;
			}

			&__textarea {
				width: 647px;
				height: 51px;
				padding: 8px 10px;
				box-sizing: border-box;
				margin-left: $textMarginLeft;
				vertical-align: bottom;
			}
		}
	}

	&--card {
		
		.#{$block}__comment-text {
			font-size: 11px;
		}

		.#{$block}__button-delete {
			font-size: 11px;
		}
	}
}