<div class="comments-bar comments-bar--{{modifier}}">
	<div class="comments-bar__comments">
		{{#each comments}}
			{{>comments-bar/comment
				avatarSize=../avatarSize
				currentUser=../currentUser
			}}
		{{/each}}
	</div>
	<div class="comments-bar__textarea-wrapper">
			{{>avatar/index
				size=avatarSize
				imageURL=user.imageURL
				classes="comments-bar__avatar"
			}}
		<textarea
			class="comments-bar__textarea"
			placeholder="Комментировать"
			maxlength="{{maxLength}}"
		></textarea>
	</div>
</div>