<div class="comments-bar comments-bar--{{modifier}}">
	{{>comments-bar/comments
		comments
	}}
	<div class="comments-bar__textarea-wrapper">
			{{>avatar/index
				size="medium"
				imageURL=user.imageURL
				classes="comments-bar__avatar"
			}}
		<textarea
			class="comments-bar__textarea"
			placeholder="Комментировать"
			maxlength="{{maxLength}}"
		></textarea>
	</div>
</div>