<div class="comments-bar comments-bar--{{modifier}}">
	{{#each comments}}
		<div class="comments-bar__comment">
			{{>avatar/index
				size="medium"
				imageURL=user.imageURL
				classes="comments-bar__avatar"
			}}
			<div class="comments-bar__comment-text">
				{{text}}
			</div>
		</div>
	{{/each}}
	<div class="comments-bar__textarea-wrapper">
		{{>avatar/index
			size="medium"
			imageURL="#"
			classes="comments-bar__avatar"
		}}
		<textarea class="comments-bar__textarea" placeholder="Комментировать"></textarea>
	</div>
</div>