$block: 'button';

.#{$block} {
	cursor: pointer;

	&--purple {
		// font-size: 5px;
		font-family: "PFAgoraSansPro";
		background: url('Images/sprites/repeat-x.png') 0 0 repeat-x;
		height: 25px;
		color: #fff;
		padding: 0 14px;
		border-top: 1px solid rgba(243, 227, 241, 0.7);
		border-radius: 4px;
	}

	&--white {
		// font-size: 5px;
		font-family: "PFAgoraSansPro";
		background: url('Images/sprites/repeat-x.png') 0 -27px repeat-x;
		border: 1px solid #cbcbcb;
		border-top-color: #d3d3d3;
		border-radius: 4px;
		height: 24px;
		padding: 0 11px;
		color: #82848A;
	}

	&--close {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.6);

		&:after {
			margin-left: 5px;
			content: "\274C";
		}
	}

	&--icon {
		
	}

	&--block {
		display: block;
		margin-bottom: 16px;
		min-width: 125px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}