@import "~utils/custom-fonts";

@import "~blocks/offer-card/index";
@import "~blocks/offers-bar/index";
@import "~blocks/offer-popup/index";
@import "~blocks/popup-background/index";
@import "~blocks/button/index";
@import "~blocks/avatar/index";
@import "~blocks/user-card/index";
@import "~blocks/comments-bar/index";
@import "~blocks/users-group/index";
@import "~blocks/counter/index";

body {
  font-family: "Arial";
  margin: 0;
}

h2 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: none;
}