!!!
%html
	%head
		%title BubbleWell
		%meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	%body
		.offers-bar
		.popup-background.popup-background--hidden
		.offer-popup.offer-popup--hidden
		%script(src="./bundle-main.js")