@import "~Utils/custom-fonts";

@import "~Blocks/offer-card/index";
@import "~Blocks/offers-bar/index";
@import "~Blocks/offer-popup/index";
@import "~Blocks/popup-background/index";
@import "~Blocks/button/index";
@import "~Blocks/avatar/index";
@import "~Blocks/user-card/index";
@import "~Blocks/comments-bar/index";
@import "~Blocks/users-group/index";

body {
	font-family: "Arial";
	margin: 0;
}

h2 {
	margin: 0;
}

button {
	border: none;
	padding: 0;
	background: none;
}